services:
  langfuse-worker:
    image: langfuse/langfuse-worker:3
    depends_on:
      db:
        condition: service_healthy
      clickhouse:
        condition: service_healthy
      redis:
        condition: service_healthy
      minio:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
      - NEXTAUTH_SECRET=mysecret
      - SALT=mysalt
      - ENCRYPTION_KEY=e5470501e37d01380220b51858dc30d26cdd6ba6ebfc954263aeeb977947a0c5
      - NEXTAUTH_URL=http://localhost:3000
      - TELEMETRY_ENABLED=false
      - NEXT_TELEMETRY_DISABLED=1
      - LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES=true
      - CLICKHOUSE_URL=http://clickhouse:8123
      - CLICKHOUSE_MIGRATION_URL=clickhouse://clickhouse:9000
      - CLICKHOUSE_USER=clickhouse
      - CLICKHOUSE_PASSWORD=clickhouse
      - CLICKHOUSE_CLUSTER_ENABLED=false
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_AUTH=myredissecret
      # MinIO / S3 Configuration
      - LANGFUSE_S3_EVENT_UPLOAD_BUCKET=langfuse
      - LANGFUSE_S3_EVENT_UPLOAD_REGION=auto
      - LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID=minio
      - LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY=miniosecret
      - LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT=http://minio:9000
      - LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE=true
      # Init Variables
      - LANGFUSE_INIT_ORG_ID=org-123
      - LANGFUSE_INIT_ORG_NAME=MyOrg
      - LANGFUSE_INIT_PROJECT_ID=project-123
      - LANGFUSE_INIT_PROJECT_NAME=MyProject
      - LANGFUSE_INIT_PROJECT_PUBLIC_KEY=pk-lf-151b2be3-f847-4e4f-8428-6d4068671248
      - LANGFUSE_INIT_PROJECT_SECRET_KEY=sk-lf-99299b0d-ebb2-409c-9238-3fb2e6d2d650
      - LANGFUSE_INIT_USER_EMAIL=admin@langfuse.com
      - LANGFUSE_INIT_USER_NAME=Admin
      - LANGFUSE_INIT_USER_PASSWORD=password

  langfuse-server:
    image: langfuse/langfuse:3
    depends_on:
      db:
        condition: service_healthy
      clickhouse:
        condition: service_healthy
      redis:
        condition: service_healthy
      minio:
        condition: service_healthy
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
      - NEXTAUTH_SECRET=mysecret
      - SALT=mysalt
      - ENCRYPTION_KEY=e5470501e37d01380220b51858dc30d26cdd6ba6ebfc954263aeeb977947a0c5
      - NEXTAUTH_URL=http://localhost:3000
      - TELEMETRY_ENABLED=false
      - NEXT_TELEMETRY_DISABLED=1
      - LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES=true
      - CLICKHOUSE_URL=http://clickhouse:8123
      - CLICKHOUSE_MIGRATION_URL=clickhouse://clickhouse:9000
      - CLICKHOUSE_USER=clickhouse
      - CLICKHOUSE_PASSWORD=clickhouse
      - CLICKHOUSE_CLUSTER_ENABLED=false
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_AUTH=myredissecret
      # MinIO / S3 Configuration
      - LANGFUSE_S3_EVENT_UPLOAD_BUCKET=langfuse
      - LANGFUSE_S3_EVENT_UPLOAD_REGION=auto
      - LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID=minio
      - LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY=miniosecret
      - LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT=http://minio:9000
      - LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE=true
      # Init Variables
      - LANGFUSE_INIT_ORG_ID=org-123
      - LANGFUSE_INIT_ORG_NAME=MyOrg
      - LANGFUSE_INIT_PROJECT_ID=project-123
      - LANGFUSE_INIT_PROJECT_NAME=MyProject
      - LANGFUSE_INIT_PROJECT_PUBLIC_KEY=pk-lf-151b2be3-f847-4e4f-8428-6d4068671248
      - LANGFUSE_INIT_PROJECT_SECRET_KEY=sk-lf-99299b0d-ebb2-409c-9238-3fb2e6d2d650
      - LANGFUSE_INIT_USER_EMAIL=admin@langfuse.com
      - LANGFUSE_INIT_USER_NAME=Admin
      - LANGFUSE_INIT_USER_PASSWORD=password

  db:
    image: postgres:15
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 3s
      retries: 5
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5435:5432"
    volumes:
      - /var/lib/postgresql/data

  clickhouse:
    image: clickhouse/clickhouse-server:24.8
    user: "101:101"
    restart: always
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "localhost:8123/ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    environment:
      - CLICKHOUSE_DB=default
      - CLICKHOUSE_USER=clickhouse
      - CLICKHOUSE_PASSWORD=clickhouse
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
    ports:
      - "8123:8123"
      - "9002:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - clickhouse_log:/var/log/clickhouse-server
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

  redis:
    image: redis:7
    restart: always
    command: redis-server --requirepass myredissecret
    ports:
      - "6379:6379"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 3s
      timeout: 10s
      retries: 5

  minio:
    image: minio/minio
    restart: always
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=miniosecret
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  clickhouse_data:
  clickhouse_log:
  minio_data:
